<!-- templates/includes/banner.html -->
<div style="width: 100%; display: flex; justify-content: center; margin: 20px 0;">
    <div style="max-width: 320px; width: 100%;">
        <script type="text/javascript">
            atOptions = {
                'key' : '32bb5899edb00db79998ea4fbd3bb8d3',
                'format' : 'iframe',
                'height' : 50,
                'width' : 320,
                'params' : {}
            };
        </script>
        <script type="text/javascript" src="//www.highperformanceformat.com/32bb5899edb00db79998ea4fbd3bb8d3/invoke.js"></script>
    </div>
</div>